<!doctype html>
<html lang="en">
  <head>
    <title>BDE Cesi Lille</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="basetemplate.css" media="all" />
  </head>


  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">BDE</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor03" style="">
              <ul class="navbar-nav mr-auto">
                </ul>
                <div class="nav-item active">
                  <div class="dropdown2">
                  <a class="dropbtn" href="#">Campus <span class="sr-only">(current)</span></a>
                  <div class="dropdown-content">
                    <div class="dropdown">
                      <div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Région Nord
                        </button>
                        <div class="dropdown-menu">
                          <li><a href="#">Arras</a></li>
                          <li><a href="#">Caen</a></li>
                          <li><a href="#">Lille</a></li>
                          <li><a href="#">Rouen</a></li>
                        </div>
                      </div>
                    </div>

                  <div class="dropdown">
                  <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Région Ouest
                      <span class="sr-only"></span>
                    </button>
                    <div class="dropdown-menu">
                      <li><a href="#">Angoulême</a></li>
                      <li><a href="#">Brest</a></li>
                      <li><a href="#">La Rochelle</a></li>
                      <li><a href="#">Le Mans</a></li>
                      <li><a href="#">Nantes</a></li>
                      <li><a href="#">Saint-Nazaire</a></li>
                    </div>
                  </div>
                  </div>

                  <div class="dropdown">
                  <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Région Centre
                    </button>
                    <div class="dropdown-menu">
                      <li><a href="#">Châteauroux</a></li>
                      <li><a href="#">Orléans</a></li>
                      <li><a href="#">Paris (Nanterre)</a></li>
                    </div>
                  </div>
                  </div>

                  <div class="dropdown">
                  <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Région Est
                    </button>
                    <div class="dropdown-menu">
                      <li><a href="#">Dijon</a></li>
                      <li><a href="#">Nancy</a></li>
                      <li><a href="#">Reims</a></li>
                      <li><a href="#">Strasbourg</a></li>
                    </div>
                  </div>
                  </div>

                  <div class="dropdown">
                  <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Région Sud Ouest
                    </button>
                    <div class="dropdown-menu">
                      <li><a href="#">Bordeaux</a></li>
                      <li><a href="#">Montpellier</a></li>
                      <li><a href="#">Pau</a></li>
                      <li><a href="#">Toulouse</a></li>
                    </div>
                  </div>
                  </div>

                  <div class="dropdown">
                  <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Région Sud Est
                    </button>
                    <div class="dropdown-menu">
                      <li><a href="#">Aix-en-Province</a></li>
                      <li><a href="#">Grenable</a></li>
                      <li><a href="#">Lyon</a></li>
                      <li><a href="#">Nice</a></li>
                    </div>
                  </div>
                  </div>
                  </div>
                </div>

                </div>

                <div class="nav-item">
                  <a class="nav-link" href="#">Connexion</a>
                </div>
            </div>
          </nav>



    </header>

    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
          <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
          <div class="sidebar-content">
            <div class="sidebar-brand">
              <a href="#"><img id="logoCesi" src="../ressources/logoCESI.png"></a>
              <div id="close-sidebar">
                <i class="fas fa-times"></i>
              </div>
            </div>
            <div class="sidebar-header">
              <div class="user-pic">
                <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                  alt="User picture">
              </div>
              <div class="user-info">
                <span class="user-name">Jhon
                  <strong>Smith</strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                  <i class="fa fa-circle"></i>
                  <span>Online</span>
                </span>
              </div>
            </div>

            <!-- sidebar-search  -->
            <div class="sidebar-menu">
              <ul>

                <li>
                  <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Evenements</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-calendar"></i>
                    <span>Boutique</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-folder"></i>
                    <span>Examples</span>
                  </a>
                </li>
              </ul>
            </div>

                  <!--Button-->
                  <p id="socialbtn">
                    <a href="https://twitter.com/GroupeCESI"><img id="instagram-button" src="../ressources/instagram.svg" style="property:white;"></a>
                    <a href="https://www.instagram.com/campus_cesi/"><img id="twitter-button" src="../ressources/twitter.svg"></a>
                    <a href="https://www.youtube.com/user/groupecesi1/"><img id="youtube-button" src="../ressources/youtube.svg"></a>
                    <a href="https://www.linkedin.com/company/groupe-cesi/"><img id="linkedin-button" src="../ressources/linkedin.svg"></a>
                    <a href="https://www.viadeo.com/fr/company/cesi"><img id="viadeo-button" src="../ressources/facebook.svg"></a>
                  </p>
              </div>
          </div>
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">



        </main>
        <!-- page-content" -->
      </div>

    <footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Aspects juridiques</h5>

        <ul class="list-unstyled">
          <li>
              <a class="foot-link" href="#">Politique de confidentialité</a>
          </li>
          <li>
              <a class="foot-link" href="#">Mentions légales</a>
          </li>
          <li>
              <a class="foot-link" href="#">Crédits</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contacts</h5>

        <ul class="list-unstyled">
          <li>
            <a>Ensam, Lille</a>
          </li>
          <li>
            <a>test@viacesi.fr</a>
          </li>
          <li>
            <a>06 00 00 00 00</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright
    <a href="https://mdbootstrap.com/education/bootstrap/"></a>
  </div>

</footer>
  </body>
</html>
