{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}" media="all" />
{% endblock %}

{% block body %}
    
    <p>
    jeznriqghksfjeznriqghksfjeznriqghksf
    </p>

{% endblock %}
