{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/mentions.css') }}" media="all" />
{% endblock %}

{% block body %}

<div class="test">
  <div class="test1">

<h1>Mentions Légales</h1>
<h3>Éditeur : Association BDE </h3>
SIREN : 775 722 572<br>
Siège social :<br>
8 Boulevard Louis XIV<br>
59800 Lille<br>
Tél : 03 20 62 22 10<br>
e-mail : contact@BDECesi.fr<br>
<br><br>

<h3>Développement & hébergement</h3>
Groupe n°4 – Etudiants Cesi<br>
8 Boulevard Louis XIV<br>
59800 Lille<br>
03 20 62 22 10<br>
e-mail : contact@BDECesis.fr<br>
<br><br>

<h3>Respect de la vie privée et collecte des Données Personnelles</h3>
Soucieux de protéger la vie privée de ses clients, le BDE s’engage dans la protection des données personnelles. Une politique sur la protection des données personnelles rappelle nos principes et nos actions visant au respect de la réglementation applicable en matière de protection des données à caractère personnel.
Pour lire l’intégralité de notre politique sur la Protection des données personnelles cliquez-ici (lien de la page de politique de confidentialite)
<br><br>

<h3>Sécurité</h3>
Le BDE s’engage à mettre en œuvre tous les moyens nécessaires au bon fonctionnement du site. Cependant, le BDE ne peut pas garantir la continuité absolue de l’accès aux services proposés par le site. Les adhérents sont informés que les informations et services proposés sur le site pourront être interrompus en cas de force majeure et pourront le cas échéant contenir des erreurs techniques.
<br><br>

<h3>Utilisation de cookies</h3>
Des cookies sont utilisés sur nos sites.
Pour plus d’informations, vous pouvez vous référer à la Politique sur le Protection des Données Personnelles en cliquant-ici (lien de la page de politique de confidentialite)
<br><br>

<h3>Déclarations d’activité</h3>
BDE – Bureau des Etudiants<br>
342 707 502<br>
8 Boulevard Louis XIV, 59800 Lille<br>
Tél. : +33(0) 6 25 48 78<br>
Déclaration d’activité enregistrée sous le numéro 59 23 41820 59 auprès du Préfet de la région Hauts De France.<br>
Cet enregistrement ne vaut pas agrément de l’État.<br>
<br><br>

  </div>
</div>

{% endblock %}
