.background{
  background-color: #CCCCCC;
  color: black;
}

.list-group-item{
  color: #509AFF;
}

.list-group-item:hover{
  color: white;
}

#titre{
  color: #509AFF;
}


.card{
  color: white;
}

.panier{
  text-align: center;
  font-size: 120%;
  margin-top: 25px;
  color: #4152C9;
}

.panier:hover{
  color: white;
}
