.test{
  background-color: #CCCCCC;
  color: black;
}

.test1{
  border: 40mm grey;
  padding: 2%;
  margin-left: 5%;
  margin-right:5%;
}

h3{
  font-size: 150%;
  font-weight: bold;
}

h4{
  font-size: 120%;
  font-weight: bold;
}

.aligne{
  margin-left: 5%;
  margin-right:5%;
}
