.background{
  background-color: #CCCCCC;
  padding: 2%;
  margin-left: 2%;
  margin-right:2%;
}

.card-group{
  padding: 2%;
  margin-left: 2%;
  margin-right:2%;
}

h1{
  color: black;
}

h5{
  color: #509AFF;
}
